@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
  background-image: url("../src/Img/wallhaven-96gro1_2560x1440.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titulo{
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

h2{
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:3px;
  margin-top: 70px;
  margin-bottom:20px;
}

.btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn10{
  padding: 15px 100px;
  margin:10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:flex;
  flex-direction: column;
  
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.btn10{
  top: 40px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase!important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius:50px;
  position: relative;
  overflow: hidden!important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent!important;
  z-index:10;
  
}


.btn10:hover{
  border: 1px solid #071982;
  color: #000!important;
}
.btn10::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
   box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.btn10::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
-ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
opacity:1;
width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
opacity:1;
width: 120%;
}

.opciones_inicio{
  width: 30%;
  margin-left: 35%;
}

.app {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease;
  transform: translateX(-200px); /* Oculta la barra lateral por defecto */
}

.sidebar.open {
  transform: translateX(0); /* Muestra la barra lateral cuando está abierta */
}

.content {
  flex: 1;
  padding: 20px;
}
